.table-container {
  max-height: 300px; /* Set the maximum height as per your requirement */
  overflow-y: auto; /* Add vertical scrollbar */
  margin-top: 3cm;
  margin-left: 1cm;
  margin-right: 1cm;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

thead th {
  background-color: #322f2f;
  color:white;
  position: sticky;
  top: 0;
  z-index: 1;
}
